body {
    color:rgb(10, 174, 224);
    background:rgb(5, 56, 150, 0.603);
    margin: 0px;
    font-family: "Bebas Neue", sans-serif;
}

header{
    border-bottom: solid 2px rgb(128, 128, 128);
    padding: 20px;
    font-size: 32px;
    color: rgb(238, 107, 20); 
}

.chamada{
    background: rgb(52, 72, 66);
    padding-bottom: 80px;
    padding-top: 80px;
    display:flex;
    justify-content:center;
}

.chamada-texto{
    margin-right: 5%;
    font-size: 25px;
}

h1{
    font-size: 40px;
}
.categoria-videos{
    display:flex;
    overflow-x: auto;
    gap: 5px
}
.categoria{
    padding-left: 20px;
    padding-right: 20px;
}
.categoria-videos img{
    opacity:0.5;
    height: 200px
}
.categoria-videos img:hover{
    opacity:1.0;
    border: 2px solid red;
    
}
.categoria h2{
    color:rgb(26, 248, 6);
}